:root {
    --color-primary: #1b3764;
    --color-secondary: #ffca42;
    --color-light: hsl(220, 50%, 98%);
    --color-light-alt: #F4F8FF;
    --color-white: #fff;

    --color-text-tint-dark: #969aa0;
    --color-text-tint-light: #b4c7e7;

    --font-serif: 'Cardo', serif;
    --font-sans: 'Inter', sans-serif;

    --page-max-width: 1299px;

    --box-shadow: 0px 35px 25px 0px rgba(4, 11, 20, 0.04);
}