.author {
    background-color: var(--color-light-alt);
}

.author__picture,
.author__content {
    flex-basis: 50%;
    flex-grow: 0;
}

.author__description {
    font-size: 19px;
    color: var(--color-text-tint-dark);
}

.author__statistic,
.author__contact {
    margin-top: var(--gap-40);
}