.book-included {
    display: flex;
    align-items: center;
    column-gap: var(--gap-40);
    flex-basis: 50%;
}

.book-included__picture {
    flex-basis: 48%;
    flex-shrink: 0;
}

.book-included__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.book-included__title {
    margin-bottom: 1rem;
}

.book-included__statistic {
    margin-top: var(--gap-32);
    margin-bottom: var(--gap-32);
}