.footer {
    background-color: var(--color-primary);
    padding-top: var(--gap-80);
    padding-bottom: var(--gap-24);
}

.footer__content {
    display: flex;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-24);
    margin-right: auto;
}

.footer__copy {
    text-align: center;
    margin-top: var(--gap-80);
    padding-top: var(--gap-24);
    border-top: 1px solid rgba(255 255 255 / 0.2);
}