.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: var(--gap-16);
}

.form__row {
    display: flex;
    column-gap: var(--gap-8);

    .input-icon {
        flex-grow: 1;
    }
}

.form__agree {
    margin-top: var(--gap-24);
    margin-bottom: var(--gap-40);
}