.header {
    background-color: var(--color-primary);
    padding: var(--gap-40) 0;
}

.header__inner {
    display: flex;
    align-items: center;
    column-gap: var(--gap-32);
}

.header__navigation {
    display: flex;
    align-items: center;
    column-gap: var(--gap-32);
    margin-left: auto;
}

.header .section__inner {
    display: flex;
    align-items: center;
    column-gap: var(--gap-32);
}