.hero-book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--gap-96);
}

.hero-book__content {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-basis: 50%;
    color: var(--color-white);
}

.hero-book__subtitle {
    display: flex;
    align-items: center;
    column-gap: var(--gap-16);
    font-weight: normal;
    font-style: italic;
    margin-bottom: var(--gap-16);

    &::before {
        content: "";
        display: block;
        width: 34px;
        height: 1px;
        background-color: var(--color-secondary);
    }
}

.hero-book__title {
    line-height: 1.3;
    margin-bottom: var(--gap-32);
}

.hero-book__buttons {
    display: flex;
    align-items: center;
    column-gap: var(--gap-32);
    margin: var(--gap-40) 0;
}

.hero-book__picture {
    flex-basis: 50%;
    flex-grow: 0;
    height: auto;
}