.input,
.textarea {
    padding: 0 var(--gap-24);
    height: 50px;
    border: 1px solid var(--color-white);
    background-color: var(--color-white);
    font-size: var(--font-18);

    &::placeholder {
        color: var(--color-text-tint-dark);
    }

    &.input--lg {
        height: 63px;
    }

    &.input--alt {
        border-color: var(--color-secondary);
    }
}

.textarea {
    padding-top: var(--gap-16);
    font-family: var(--font-sans);
}