.logo {
    display: flex;
    align-items: center;
    column-gap: var(--gap-8);
    text-decoration: none;
}

.logo__icon {
    color: var(--color-secondary);
}

.logo__text {
    font-size: var(--font-28);
    line-height: var(--line-height-130);
    font-weight: bold;
    color: var(--color-white);
}