.navigation {
    color: var(--color-white);
}

.navigation__list {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation__item {
    &:hover {
        & .navigation__link {
            color: var(--color-secondary);
        }

        & .navigation__submenu {
            display: flex;
        }
    }
}

.navigation__item.has-submenu {
    position: relative;
}

.navigation__submenu {
    position: absolute;
    left: 0;
    width: auto;
    background-color: var(--color-light);
    padding: 1rem 1.5rem;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: .75rem;
    z-index: 1;

    & a {
        color: var(--color-primary);
        text-decoration: none;
        white-space: nowrap;

        &:hover {
            text-decoration: underline;
        }
    }
}

.navigation__link {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    text-decoration: none;
    font-weight: 500;
    color: inherit;
}