.socials {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.socials__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: var(--color-white);
    text-decoration: none;
    color: var(--color-primary);

    &:hover {
        background-color: var(--color-secondary);
    }
}